<div class="container-fluid">
    <h4 class="display-4">Welcome To PaymentsIQ</h4>
    <span class="logo-name quote-logo">Simple Outrageous Payment</span>
    <div class="flex-field-container">
        <i class="fa-regular fa-user"></i>
        <p><%= current_user.name %></p>
    </div>
    <div class="flex-field-container">
        <i class="fa-regular fa-envelope"></i>
        <p><%= current_user.email %></p>
    </div>
</div>
