<div class="auth-login-container">
<h1 class="display-1 logo-name text-dark">PaymentsIQ</h1>
<div class="auth-login-form-container">
    <%= link_to "Login", new_user_session_path,class:"btn btn-primary w-75 my-2" %>
    <%= link_to "Register",new_user_registration_path, class:"btn btn-light w-75 my-2"%>
</div>
</div>
