<div class="card w-100 mb-3">
  <div class="card-body d-flex justify-content-between p-4">
    <h5 class="card-title"><%= transfer.name %></h5>
    <p class="card-text"><i class="fa-down-red fa-solid fa-down-long"></i>$<%= transfer.amount%></p>
  </div>
</div>
