<div class="d-flex justify-content-between transfer-flex-container">
    <h5><%= @category.name %></h5>
    <% amount = 0%>
    <% @transfers.each do |transfer| %>
    <% amount += transfer.amount %>
    <% end %>
    <strong>$<%= amount %></strong>
</div>
<div class="container-fluid  transfer-list-flex-container mt-4">
    <div class="transfers-holder">
    <% if @transfers.length != 0 %>
        <% @transfers.each do |transfer| %>
            <%= render transfer %>
        <% end %>
    <% else %>
        <div>
            <h6>No transactions found</h6>
        </div>
    <%end%>
    <div>
    <div class="w-100 btn-holder">
    <%= link_to "Scan" ,new_category_transfer_path(@category_id), class:"btn btn-success w-100 mt-3 make-transfers" %>
    </div>
</div>

